.cat-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.548)), url(../images/cat2-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 250px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner-link {
    margin: 0 10px;
}

.cat-header {
    margin-left: 300px;
}

.cat-header h1 {
    font-size: 60px;
}